/* Colors
charcoal      #191919
dark gray     #333333
light gray    #b3b3b3
bright gray   #e5e5e5
red           #800000
blue          #0080ff
cyan          #00a6b2
yellow        #e5e500
bright yellow #ccff66
*/

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #b3b3b3;
  background: #333333;
  margin: 0;
}

footer {
  color: #b3b3b3;
  background: #4d4d4d;
}

.hero {
  text-align: center;
  color: #b3b3b3;
  background: #4d4d4d;
}

.launch {
  text-align: center;
  font-family: Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
  color: #191919;
  background: #e5e500;
  border-radius: 10px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
}
