---
layout: default
title: Starve the Sumo
---

<section class="hero">
  <div class="grid">
    <div class="unit whole center-on-mobiles">
      <h1>Starve the Sumo</h1>
    </div>
  </div>
</section>

<section class="launch">
  <div class="grid">
    <div class="unit whole center-on-mobiles">
      <p>get started!</p>
    </div>
  </div>
</section>

<section class="nav">
  <div class="grid">
    <div class="unit half">
      {% include guides.html  %}
    </div>
    <div class="unit half">
      {% include resources.html %}
    </div>
  </div>
</section>
