---
layout: default
title: Starve the Sumo
---

<section class="hero">
  <div class="grid">
    <div class="unit whole center-on-mobiles">
      <p><span class="starve">Starve the </span><span class="sumo">Sumo</span></p>
    </div>
  </div>
</section>

<section class="main">
  <div class="grid">
    <div class="unit whole center-on-mobiles">
      <a href="{{ site.url }}/guides/gettingstarted">
        <div class="launch">
          <p>read the guide!</p>
        </div>
      </a>
      <div class="intro">
        <p>Internet pornography is a massive problem. As our culture wrestles with the repercussions of pervasive pornography, families, adults, and childern are being beaten by this hungry sumo. The only way we can win the wrestling match is to starve the sumo!</p>
        <p>This site is a guide to starving the sumo by securing your home network and personal computers against explicit content.</p>
      </div>
    </div>
  </div>
</section>

<section class="nav">
  <div class="grid">
    <div class="unit half">
      {% include guides.html  %}
    </div>
    <div class="unit half">
      {% include resources.html %}
    </div>
  </div>
</section>
