<h1>Guides</h1>
<ul>
  <li><a href="{{ site.url }}/guides/gettingstarted">Getting Started</a></li>
  <li><a href="{{ site.url }}/guides/securingnetwork">Securing Your Network</a></li>
  <ul>
    <li><a href="{{ site.url }}/guides/securingnetwork/filteringcontent">Filtering Content</a></li>
    <li><a href="{{ site.url }}/guides/securingnetwork/router">Setting Up Your Router</a></li>
  </ul>
  <li><a href="{{ site.url }}/guides/securingcomputer">Securing Your Computer</a></li>
  <ul>
    <li><a href="{{ site.url }}/guides/securingcomputer/osx">OS X</a></li>
    <li><a href="{{ site.url }}/guides/securingcomputer/windows">Windows</a></li>
  </ul>
  <li><a href="{{ site.url }}/guides/activitycontrols">Activity Controls</a></li>
  <ul>
    <li><a href="{{ site.url }}/guides/activitycontrols/osx">OS X</a></li>
    <li><a href="{{ site.url }}/guides/activitycontrols/windows">Windows</a></li>
    <li><a href="{{ site.url }}/guides/activitycontrols/ios">iOS</a></li>
    <li><a href="{{ site.url }}/guides/activitycontrols/itunes">iTunes</a></li>
    <li><a href="{{ site.url }}/guides/activitycontrols/xbox360">Xbox 360</a></li>
    <li><a href="{{ site.url }}/guides/activitycontrols/playstation3">Playstation 3</a></li>
  </ul>
</ul>