---
layout: default
---
<section class="header">
<div class="grid">
  <div class="unit one-third center-on-mobiles">
    <p><span class="starve">Starve the </span><span class="sumo">Sumo</span></p>
  </div>
  <div class="unit two-thirds align-right center-on-mobiles">
    <p><span class="starve"><a href="{{ site.url }}/">Home</a> / <a href="{{ site.url }}/guides/gettingstarted/">Guides</a> / <a  href="{{ site.url }}/resources/">Resources</a></span></p>
  </div>
</div>
</section>
<div class="grid">
  <div class="unit one-quarter hide-on-mobiles">
    <aside>
      {% include guides.html %}
    </aside>
  </div>
  <div class="unit three-quarters center-on-mobiles">
    <article>
      <h1>{{ page.title }}</h1>
      {{ content }}
    </article>
  </div>
</div>